<div class="container" style="margin-top: 100px">
  <form #registerForm="ngForm" (submit)="register()" autocomplete="off">
    <div class="mb-3 form-floating">
      <input
        type="text"
        class="form-control"
        name="name"
        [(ngModel)]="Model.name"
        placeholder="First name"
        required
      />
      <label>Name</label>
    </div>
    <div class="mb-3 form-floating">
      <input
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="Model.password"
        placeholder="Password"
        required
      />
      <label>Password</label>
    </div>
    <div class="mb-3 form-floating">
      <input
        type="email"
        class="form-control"
        name="email"
        [(ngModel)]="Model.email"
        placeholder="Email"
        required
      />
      <label>Email</label>
    </div>
    <div class="mb-3 form-floating">
      <input
        type="phone"
        class="form-control"
        name="dateOfBirth"
        [(ngModel)]="Model.phoneNumber"
        placeholder="Phone number"
      />
      <label>Phone number</label>
    </div>
    <div class="form-group text-center">
      <button class="btn btn-success me-2" type="submit">Register</button>
      <button class="btn btn-success me-2" (click)="cancel()" type="button">
        cancel
      </button>
    </div>
  </form>
</div>
